* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Times;
  }
/* Style the body */
body {
	margin: 0;
	width: 100%;
	background-image: url("../bgi.jpeg");
	background-position: center;
}
/* Style the header */
header {
	background-image: url("../BannerHome.jpeg");
	background-position: center;
	background-size: cover;
	margin: 0;
	text-align: center;
}
.mySlides {
	display:none;
}
/* Style the LSGI3292A */
#coursecode {
	text-align: right;
	padding: 10px;
}
/* add background color for the motto */
span{
	background-color: rgba(240,248,255,0.6);
	font-family: Castellar;
}
/* Style the motto*/
h1{ 
	text-align: center;
	margin: 100px;
}
/* Style the motto author */
h4 {
	text-align: center;
	margin: 10px;
	font-family: Castellar;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: maroon;
}
/* Style the topnav links */
.topnav a {
  display: block;
  padding: 14px 16px;
  margin: 0;
}
/* Change color on hover */
.topnav a:hover {
  background-color: lavenderblush;
  color: black;
}
/* Same for the left navigation */
.leftnav {
  overflow: hidden;
  background-color: rgba(210,160,160,.8);
}
.leftnav a:hover {
  background-color: lavenderblush;
  color: black;
}
.leftnav a {
  display: block;
  padding: 14px 16px;
  margin: 0;
}
/* Style the navigation lists */
ul.topnavlist, ul.leftnavlist {
	float: center;
	list-style-type: none;
}
ul.topnavlist li {
	display: inline-block;
}
ul.leftnavlist li, ul.researchinterestslist li {
	display: block;
}	
ul.topnavlist li a, ul.leftnavlist li a {
	text-align: center;
	color: #fff;
	border: 1px solid #fff;
	transition: 0.8s;
	font-family: Imprint MT Shadow;
	font-size: larger;
	text-decoration: underline;	
}
/* Style the footer */
.copyright {
  overflow: hidden;
  background-color: mistyrose;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
/* Style the title of left navigation */
h3#myprojects {
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 14px;
	padding-bottom: 14px;
	font-family: Imprint MT Shadow;
	font-size: larger;
	text-decoration: underline;
	background-color: lavenderblush;
}
/* Style the columns */
.columncontainer{
	margin: auto;
	width: 70%;
}
.column1 {
	float: left;
	width: 20%;
	margin: 0;
}
.column2 {
	background-image: url("../main division bg.jpg");
	background-position: center;
	background-size: cover;
	float: left;
	width: 80%;
	height: 500px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;	
}
/* Responsive layout - makes the three columns stack
 * on top of each other instead of next to each other
 */
@media screen and (max-width:600px) {
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }  
}
/* the personal information will be shown as a table */
.presonalinfo {
	width:auto;
	padding-left: 10%;
	position: relative;
	margin-top: 5%;
}
/* Style the table */
table, th, td {
  border-top: 20px;
  width: 80%;
}
th, td {
  text-align: left;
}
/* Style my image */
img{
	float: right;
	position: relative;
	margin-right: 5%;
}
/* Style the research interest list */
h2#title{
	position: relative;
	left: 10%;
	margin-top: 10%;
}
.researchinterestslist{
	position: relative;
	width: 80%;
	left: 15%;
	margin-top: 20px;
}
script{
	float: center;
}
#enteredname{
	text-align: center;
}
.searchcontainer{
	float: right;
	clear: left;
	margin-top: 10px;;
	padding: 0;
	width: 250px;
}
#googlesearch{
	float: right;
	margin-right:10%;
	margin-top: 3.5px;
	margin-bottom: 3.5px;
	font-size:18px;
	font-weight: bold;
}
#searchbox{
	font-family:Times;
	font-size: 16px;
	width: 200px;
	height: 30px;
}
#CR{
	float: none;
	display: inline;
}
#timendate{
	right:1%;
	display: inline;
	position:absolute;
	z-index:1;
}
.fb-share-button{
	margin: 1%;
}
.courseinfo{
	margin:2%;
}
